<div role="banner" class="footer_unvx pure-g">
  <div class="pure-u-1">
    <nav class="menu_unvx pure-menu pure-menu-horizontal">
      <!-- COPYRIGHT -->
      <span class="copyright">&copy;{{date format="YYYY"}} {{@site.title}}</span>
      <ul class="pure-menu-list">
        <!-- SOCIAL LINKS -->
        {{!<li class="pure-menu-item social_unvx">
          <a href="https://plus.google.com/+Univunix?rel=publisher" class="pure-menu-link" target="noopener">
            <i class="fab fa-fw fa-google-plus-square" aria-hidden="true"></i>
            <span>Google +</span>
          </a>
        </li>
        <li class="pure-menu-item social_unvx">
          <a href="https://github.com/UnivUnix" class="pure-menu-link" target="noopener">
            <i class="fab fa-fw fa-github-square" aria-hidden="true"></i>
            <span>Github</span>
          </a>
        </li>
        <li class="pure-menu-item social_unvx">
          <a href="/rss.xml" class="pure-menu-link" target="noopener">
            <i class="fab fa-fw fa-rss-square" aria-hidden="true"></i>
            <span>RSS</span>
          </a>
        </li>}}
        <li class="pure-menu-item">
          <a href="https://ghost.org" class="pure-menu-link" target="_blank" rel="noopener">Powered by Ghost</a>
        </li>
        <!-- END SOCIAL LINKS -->
      </ul>
    </nav>
  </div>
</div>
