<footer class="unvx_footer pure-g">
  <div class="pure-u-1">
    <nav class="unvx-footer-menu pure-menu pure-menu-horizontal">
      <!-- COPYRIGHT -->
      <span id="copyright">&copy; 2016 UnivUnix</span>
      <ul class="pure-menu-list">
        <!-- SOCIAL LINKS -->
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://twitter.com/univunix" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://plus.google.com/+Univunix?rel=publisher" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-google-plus-square" aria-hidden="true"></i>
            <span>Google +</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="https://github.com/UnivUnix" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-github-square" aria-hidden="true"></i>
            <span>Github</span>
          </a>
        </li>
        <li class="pure-menu-item unvx-menu-social-item">
          <a href="/rss.xml" class="pure-menu-link" target="noopener">
            <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i>
            <span>RSS</span>
          </a>
        </li>
        <!-- END SOCIAL LINKS -->
      </ul>
    </nav>
  </div>
</footer>
