<div role="banner" class="footer_unvx pure-g">
  <div class="pure-u-1">
    <nav class="menu_unvx pure-menu pure-menu-horizontal">
      <!-- COPYRIGHT -->
      <span class="copyright">&copy;{{date format="YYYY"}} {{@site.title}}</span>
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="https://ghost.org" class="pure-menu-link" target="_blank" rel="noopener">Powered by Ghost</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
