{{!< default}}
{{> header}}
<main class="main_unvx pure-g" role="main">
  <div class="pure-u-1">
    <h1 class="title">{{t "Articles written by:"}} {{author.name}}</h1>
  </div>
  {{#foreach posts}}
    {{> article-item}}
  {{/foreach}}
</main>
{{> footer}}