.article_unvx {
  color: @natural-white;
  background: darken(@unvx-main, 10%);
  background: fadeout(darken(@unvx-main, 10%), 20%);
  box-shadow: 0 .1em .1em fadeout(black, 90%);
  header {
    padding: 10em 2.5% .5em 2.5%;
    border-bottom: .2em solid desaturate(@unvx-main, 70%);
    border-bottom: .2em solid fadeout(@natural-white, 30%);
    background: darken(@unvx-main, 10%);
    background: fadeout(black, 75%);
    .title {
      margin: initial;
      border-bottom: .01em solid;
    }
    span {
      padding: .5em .5em 0 0;
      display: inline-block;
      a {
        font-weight: normal;
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
  }
  .content {
    padding: .5em 10% .5em 10%;
    background: darken(@natural-white, 5%);
    color: darken(@unvx-alt, 30%);

    .kg-post {
      display: flex;
      flex-direction: column;

      figcaption {
        font-size: 80%;
        line-height: 1.6em;
        text-align: center;
      }

      .kg-image-card {
        text-align: center;
        margin: 0 0 1.5em;

        figcaption {
          margin: -.25em 0 1.5em;
        }

        .kg-image {
          max-width: 100%;
        }

        .kg-image-wide {

        }

        .kg-image-full {
          max-width: 100vw;
          & + figcaption {
            padding: 0 1.5em;
          }
        }
      }

      .kg-embed-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em 0 3em;
        min-width: 100%;
      }
    }

    a:link {
      text-decoration: none;
      color: darken(@unvx-alt, 10%);
    }
    a:visited {
      text-decoration: none;
      color: darken(@unvx-alt, 20%);
    }
    a:hover, a:active {
      text-decoration:underline;
    }

    blockquote {
      padding: .5em 1em;
      background: lighten(@unvx-alt, 10%);
      border: solid darken(@unvx-alt, 10%) .2em;
      border-radius: .25em;
    }
    
    /* 
    // OLD GHOST
    img[src$="#full"] {
      width: 100%;
    }

    img[src$="#center"] {
      display: block;
      margin: 0 auto;
    }

    img[src$="#lfloat"] {
      float: left;
    }

    img[src$="#rfloat"] {
      float: right;
    }
    */
  }
  .author {
    padding: .5em 1em .5em 1em;
    border-top: .2em solid desaturate(@unvx-alt, 70%);
    border-top: .2em solid fadeout(@unvx-alt, 30%);
    background: darken(@natural-white, 5%);
    color: darken(@unvx-alt, 30%);
    a:link {
      text-decoration: none;
      color: darken(@unvx-alt, 10%);
    }
    a:visited {
      text-decoration: none;
      color: darken(@unvx-alt, 20%);
    }
    a:hover, a:active {
      text-decoration:underline;
    }
  }
  footer {
    padding: .5em 1em .5em 1em;
    border-top: .2em solid desaturate(@unvx-main, 70%);
    border-top: .2em solid fadeout(@natural-white, 30%);
    background: darken(@unvx-main, 10%);
    background: fadeout(black, 75%);
    color: @natural-white;
    .pure-menu-item {
      a {
        font-weight: 400;
        color: @natural-white;
        background: darken(@unvx-alt, 30%);
        background: @transparent;
        padding: .5em;
        &:hover {
          color: black;
          -webkit-border-radius: .2em;
          -moz-border-radius: .2em;
          border-radius: .2em;
          background: @natural-white;
          background: fadeout(@natural-white, 30%);
          -khtml-border-radius: .2em;
        }
      }
    }
  }
}

.article_unvx_item {
  margin: .2em;
  color: @natural-white;
  background: darken(@unvx-main, 10%);
  background: fadeout(darken(@unvx-main, 10%), 20%);
  box-shadow: 0 .1em .1em fadeout(black, 80%);
  header {
    padding: .5em .75em;
    border-bottom: .2em solid desaturate(@unvx-main, 70%);
    border-bottom: .2em solid fadeout(@natural-white, 30%);
    background: darken(@unvx-main, 10%);
    background: fadeout(black, 75%);
    .title {
      margin: initial;
      font-size: 1em;
      max-height: 3.5em;
      overflow: hidden;
    }
    a {
      font-size: 1.25em;
      font-weight: normal;
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
  .featured-img {
    a {
      display: flex;
      max-height: 16em;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  footer {
    padding: .25em .5em;
    border-top: .2em solid desaturate(@unvx-main, 70%);
    border-top: .2em solid fadeout(@natural-white, 30%);
    span {
      padding: 0 .5em 0 0;
      display: inline-block;
      a {
        font-weight: normal;
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
  }
}

.unvx-pagination {
  text-align: center;
  padding: .5em 0;
  .unvx-prev {
    display: inline-block;
    float: left;
  }
  .unvx-next {
    display: inline-block;
    float: right;
  }
  .unvx-pages {
    display: inline-block;
  }
}
