@import "./consts.less";

html, button, input, select, textarea, .pure-g [class *='pure-u'] {
  font-family: @unvx-font-family;
}

html {
  font-family: @unvx-font-family;
  background-color: darken(@natural-white, 10%);
  background-image: @bg-grad1, @bg-grad2, @bg-grad1, @bg-grad2, @bg-grad3, @bg-grad3;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  background-attachment: fixed;
}

body {
  .main_unvx {
    padding: 3.750em .5em 2em;
    & > div > .title {
      border-bottom: .01em solid;
    }
  }
  .pagination_unvx {
    .newer-posts {
      text-align: left;
      .pure-button {
        margin: .5em;
      }
    }

    .older-posts {
      text-align: right;
      .pure-button {
        margin: .5em;
      }
    }

    .page-position {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: inline-block;
      }
    }
  }
}

@import "./headers.less";
@import "./articles.less";
@import "./mediaqrys.less";