html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  font-family: 'Lato', sans-serif;
}
html {
  font-family: 'Lato', sans-serif;
  background-color: #e1e1e1;
  background-image: linear-gradient(30deg, #c7c7c7 12%, transparent 12.5%, transparent 87%, #c7c7c7 87.5%, #c7c7c7), linear-gradient(150deg, #c7c7c7 12%, transparent 12.5%, transparent 87%, #c7c7c7 87.5%, #c7c7c7), linear-gradient(30deg, #c7c7c7 12%, transparent 12.5%, transparent 87%, #c7c7c7 87.5%, #c7c7c7), linear-gradient(150deg, #c7c7c7 12%, transparent 12.5%, transparent 87%, #c7c7c7 87.5%, #c7c7c7), linear-gradient(60deg, #fafafa 25%, transparent 25.5%, transparent 75%, #fafafa 75%, #fafafa), linear-gradient(60deg, #fafafa 25%, transparent 25.5%, transparent 75%, #fafafa 75%, #fafafa);
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  background-attachment: fixed;
}
body .main_unvx {
  padding: 3.750em .5em 2em;
}
body .main_unvx > div > .title {
  border-bottom: .01em solid;
}
.header_unvx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.587em;
  -webkit-transition: height .25s;
  -moz-transition: height .25s;
  -ms-transition: height .25s;
  -o-transition: height .25s;
  transition-property: background-color, height;
  transition-duration: .25s, 1s;
  border-bottom: 0.2em solid #2c5151;
  border-bottom: 0.2em solid rgba(250, 250, 250, 0.7);
  background: #004a4a;
  background: rgba(0, 74, 74, 0.8);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
}
.header_unvx .toggle {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  box-sizing: border-box;
  padding: 1em 0.5em;
  width: 2.587em;
  height: 2.587em;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.header_unvx .toggle .bar {
  position: absolute;
  display: block;
  width: 1.5em;
  height: .1em;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  border-radius: 30em;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.9);
}
.header_unvx .toggle .bar:last-child {
  -webkit-transform: translateY(0.5em);
  -moz-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  -o-transform: translateY(0.5em);
  transform: translateY(0.5em);
}
.header_unvx .toggle.toggled {
  padding: 1.25em 0.5em;
}
.header_unvx .toggle.toggled .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header_unvx .toggle.toggled .bar:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header_unvx .menu_unvx {
  padding: .05em .2em;
  text-align: right;
}
.header_unvx .menu_unvx .pure-menu-children {
  background: #004a4a;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  -khtml-border-radius: .2em;
  left: auto;
  right: 0;
}
.header_unvx .menu_unvx .pure-menu-children .pure-menu-item .pure-menu-link {
  font-weight: 400;
  color: #fafafa;
  background: #004a4a;
  background: rgba(0, 0, 0, 0);
}
.header_unvx .menu_unvx .pure-menu-children .pure-menu-item .pure-menu-link:hover,
.header_unvx .menu_unvx .pure-menu-children .pure-menu-item .pure-menu-link.selected {
  color: black;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.7);
}
.header_unvx .menu_unvx .pure-menu-item.social_unvx span {
  display: none;
}
.header_unvx .menu_unvx .pure-menu-item .pure-menu-link {
  font-weight: 400;
  color: #fafafa;
  background: #004a4a;
  background: rgba(0, 0, 0, 0);
}
.header_unvx .menu_unvx .pure-menu-item .pure-menu-link:hover,
.header_unvx .menu_unvx .pure-menu-item .pure-menu-link.selected {
  color: black;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.7);
  -khtml-border-radius: .2em;
}
.header_unvx .heading_unvx {
  padding: .05em .2em;
}
.header_unvx .heading_unvx .pure-menu-heading {
  font-weight: 400;
  color: #fafafa;
  background: #004a4a;
  background: rgba(0, 0, 0, 0);
}
.header_unvx .heading_unvx .pure-menu-heading:hover {
  color: black;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.7);
  -khtml-border-radius: .2em;
}
.header_unvx .heading_unvx .unvx_title {
  font-weight: 700;
}
.header_unvx .heading_unvx img {
  max-width: 10em;
  max-height: 1.9em;
  margin: -0.4em 0 -0.6em -0.5em;
}
.pure-menu-has-children > .pure-menu-link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
}
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f13a";
}
.footer_unvx {
  width: 100%;
  height: 2.587em;
  border-top: 0.2em solid #676767;
  border-top: 0.2em solid rgba(250, 250, 250, 0.7);
  background: #343434;
  background: rgba(52, 52, 52, 0.7);
  box-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.1);
}
.footer_unvx .menu_unvx {
  padding: .05em .2em;
  text-align: center;
}
.footer_unvx .menu_unvx .copyright {
  display: inline-block;
  padding: .5em;
  vertical-align: middle;
  color: #fafafa;
}
.footer_unvx .menu_unvx .pure-menu-item a {
  font-weight: 400;
  color: #fafafa;
  background: #343434;
  background: rgba(0, 0, 0, 0);
  padding: .5em;
}
.footer_unvx .menu_unvx .pure-menu-item a:hover {
  color: black;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.7);
  -khtml-border-radius: .2em;
}
.article_unvx {
  color: #fafafa;
  background: #004a4a;
  background: rgba(0, 74, 74, 0.8);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
}
.article_unvx header {
  padding: 10em 1em .5em 1em;
  border-bottom: 0.2em solid #2c5151;
  border-bottom: 0.2em solid rgba(250, 250, 250, 0.7);
  background: #004a4a;
  background: rgba(0, 0, 0, 0.25);
}
.article_unvx header .title {
  margin: initial;
  border-bottom: .01em solid;
}
.article_unvx header span {
  padding: .5em .5em 0 0;
  display: inline-block;
}
.article_unvx header span a {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}
.article_unvx header span a:hover {
  text-decoration: underline;
  color: inherit;
}
.article_unvx .content {
  padding: .5em 1em .5em 1em;
  background: #ededed;
  color: #343434;
}
.article_unvx .content a:link {
  text-decoration: none;
  color: #676767;
}
.article_unvx .content a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
.article_unvx .content a:hover,
.article_unvx .content a:active {
  text-decoration: underline;
}
.article_unvx .author {
  padding: .5em 1em .5em 1em;
  border-top: 0.2em solid #808080;
  border-top: 0.2em solid rgba(128, 128, 128, 0.7);
  background: #ededed;
  color: #343434;
}
.article_unvx .author a:link {
  text-decoration: none;
  color: #676767;
}
.article_unvx .author a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
.article_unvx .author a:hover,
.article_unvx .author a:active {
  text-decoration: underline;
}
.article_unvx footer {
  padding: .5em 1em .5em 1em;
  border-top: 0.2em solid #2c5151;
  border-top: 0.2em solid rgba(250, 250, 250, 0.7);
  background: #004a4a;
  background: rgba(0, 0, 0, 0.25);
  color: #fafafa;
}
.article_unvx footer .pure-menu-item a {
  font-weight: 400;
  color: #fafafa;
  background: #343434;
  background: rgba(0, 0, 0, 0);
  padding: .5em;
}
.article_unvx footer .pure-menu-item a:hover {
  color: black;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  background: #fafafa;
  background: rgba(250, 250, 250, 0.7);
  -khtml-border-radius: .2em;
}
.article_unvx_item {
  margin: .2em;
  color: #fafafa;
  background: #004a4a;
  background: rgba(0, 74, 74, 0.8);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
}
.article_unvx_item header {
  padding: .5em .75em;
  border-bottom: 0.2em solid #2c5151;
  border-bottom: 0.2em solid rgba(250, 250, 250, 0.7);
  background: #004a4a;
  background: rgba(0, 0, 0, 0.25);
}
.article_unvx_item header .title {
  margin: initial;
  font-size: 1em;
  max-height: 3.5em;
  overflow: hidden;
}
.article_unvx_item header a {
  font-size: 1.25em;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}
.article_unvx_item header a:hover {
  text-decoration: underline;
  color: inherit;
}
.article_unvx_item .featured-img a {
  display: flex;
  max-height: 16em;
  overflow: hidden;
}
.article_unvx_item .featured-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article_unvx_item footer {
  padding: .25em .5em;
  border-top: 0.2em solid #2c5151;
  border-top: 0.2em solid rgba(250, 250, 250, 0.7);
}
.article_unvx_item footer span {
  padding: 0 .5em 0 0;
  display: inline-block;
}
.article_unvx_item footer span a {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}
.article_unvx_item footer span a:hover {
  text-decoration: underline;
  color: inherit;
}
.unvx-pagination {
  text-align: center;
  padding: .5em 0;
}
.unvx-pagination .unvx-prev {
  display: inline-block;
  float: left;
}
.unvx-pagination .unvx-next {
  display: inline-block;
  float: right;
}
.unvx-pagination .unvx-pages {
  display: inline-block;
}
@media (max-width: 47.999em) {
  .header_unvx .toggle {
    display: block;
  }
  .header_unvx .pure-menu-heading {
    width: 86%;
    width: calc(100% - 4.587em);
  }
  .header_unvx.open {
    overflow-y: auto;
    height: 100vh;
    background: #004a4a;
  }
  .header_unvx.open .menu_unvx {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
  }
  .header_unvx .menu_unvx {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s .25s, opacity .25s linear;
    -moz-transition: visibility 0s .25s, opacity .25s linear;
    -ms-transition: visibility 0s .25s, opacity .25s linear;
    -o-transition: visibility 0s .25s, opacity .25s linear;
    transition: visibility 0s .25s, opacity .25s linear;
    text-align: left;
  }
  .header_unvx .menu_unvx .pure-menu-children {
    left: 0;
    top: auto;
    width: 100%;
  }
  .header_unvx .menu_unvx .pure-menu-children .pure-menu-item {
    width: 100%;
  }
  .header_unvx .menu_unvx .pure-menu-item {
    width: 86%;
    width: calc(100% - 2.587em);
  }
  .header_unvx .menu_unvx .pure-menu-item.social_unvx span {
    display: inline;
  }
}
